<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center"> About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
        
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, suscipit error maxime exercitationem aspernatur quaerat ut dolorum itaque voluptatum distinctio voluptatibus rem fuga, at sint quibusdam iusto ratione est vitae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minus dicta itaque ab veniam soluta ex vel quidem fugiat accusamus in tempore sunt, laudantium eum tempora nisi repudiandae sit culpa.  </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, suscipit error maxime exercitationem aspernatur quaerat ut dolorum itaque voluptatum distinctio voluptatibus rem fuga, at sint quibusdam iusto ratione est vitae.  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, dicta dolorum! Accusantium eos necessitatibus tempore ad dignissimos nobis earum iusto cum numquam aliquam voluptates, accusamus facilis repellat voluptatum a alias. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, suscipit error maxime exercitationem aspernatur quaerat ut dolorum itaque voluptatum distinctio voluptatibus rem fuga, at sint quibusdam iusto ratione est vitae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, suscipit error maxime exercitationem aspernatur quaerat ut dolorum itaque voluptatum distinctio voluptatibus rem fuga, at sint quibusdam iusto ratione est vitae.</p>

        <div class="text-center">
          <button class="btn   btn-sm mt-4 btn-theme text-white fs-6"> Back to Home</button>
        </div>
        


    </div>

  </div>

</section>




