<div class="container mx-auto">
  <div class="row">
    <div class="col-md-9">
      @if(wholepost ){
      <div class="card shadow-effect"*ngIf="wholepost">
        <img src="{{ wholepost.postImgPath}}" alt="" />
       
        <div class="card-body" >
          <small class="btn-light text-danger text-center"> {{wholepost.category.category}} </small>
          <small class="btn-light text-success text-center ms-2" *ngIf="wholepost.isFeatured"> Featured </small>
          <small class="btn-light text-info text-center ms-2">
            views {{ wholepost.views}}</small
          >
          <small class="btn-light text-warning text-center ms-2">
            Last Update - {{ wholepost.createdAt.toMillis()| date }}
          </small>

          <h1 class="mt-3 mb-3">{{ wholepost.title }}</h1>
          <P> {{ wholepost.content }} est laudantium.</P>
        </div>
      </div>

      <!-- <p  *ngFor="let c of comments.data.cmt ; let i=index">  {{comments.data.cmt[i]}} </p> -->







    }

      <app-comments-form></app-comments-form>
      <app-comments-list></app-comments-list>
    </div>
    <div class="col-md-3 gap-3">
      <div *ngFor="let oneSimilarPost of simillarPost ">
        <app-post-card [postData]="oneSimilarPost"></app-post-card>
      </div>
    </div>
  </div>
</div>
